
/* menus 
=============================================================*/
.navbar {
	position: relative;		
}
.navbar li {
	display: inline;
	padding: 15px;
	float: left;
}
.navbar-menu li {
	padding: 0;
}
.navbar-menu li a {
	padding: 15px 10px;
	display: block;
	font-family: "ProximaNova-Bold",sans-serif;
}
.submenu {
	position: absolute;
	display: none;
}
.menu.active {
	position: relative;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-ms-border-radius: 3px 3px 0 0;
	-o-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.menu.active .submenu {
	display: block;
	margin-top: 0px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	-ms-border-radius: 0 0 3px 3px;
	-o-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
	-webkit-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	-o-box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
	box-shadow: 0 0 0 4px rgba(0,0,0,0.1);
}
.menu.active .menu-magic:before {
	content: "";
	background: #DCDCDC;
	display: block;
	position: absolute;
	width: 3px;
	height: 8px;
	margin-left: -4px;
	z-index: 102;
}
.menu.active .menu-magic:after {
	content: "";
	background: #DCDCDC;
	display: block;
	position: absolute;
	width: 3px;
	height: 8px;
	right: -4px;
	z-index: 102;
}
.menu.active .menu-magic {
	background: #FFF;
	position: absolute;
	width: 100%;
	margin-top: -4px;
	height: 5px;
	z-index: 102;
	border-bottom: 1px solid #ccc;
}
.menu_title {
	font-size: 13px;
}
.menu_title, .menu_stitle {
	margin-left: 5px;
}
.menu_info {
	font-size: 13px;
}
.menu_title, .menu_info {
	font-weight: 700;
	display: inline;
}

.submenu {
	background: #FFF;	
	z-index: 101;
	width:100%;
	min-width: 200px;
	margin-top: -5px;
}
.submenu li {
	float: none;
	display: block;
}